
body {
    background-color: Lavender;
    color: MediumPurple;
    text-align: center;
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    
}

h1{
    color: mediumpurple;
    font-family: 'Poppins', sans-serif;
}

h2{
    font-family: 'Poppins', sans-serif; ;

}

p{
    color: RebeccaPurple;
    
}

.integrantes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1px, 1px, 1px, 1px;
}

.integrantes img{
    width: 70%;
}

nav{
    background-color: antiquewhite;
    
}

ul{
  display: flex;  
justify-content: center;
  color: aliceblue;
  list-style-type:none ;
  margin: 0;
  padding: 0;
}

li{
    padding: 15px;
}
li:hover {
    background-color: black;
    color: white;

}

h2{
    color: mediumpurple;
    font-family: 'Poppins', sans-serif;
}

.Datos{
    display:inline-table;
    align-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    margin: 1px, 1px, 1px, 1px;
}

.Datos img{
    justify-content: flex-start;
    width: 50%;
}

footer{
    padding-top: 20px;
}
